# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: postgres:12.2
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: db
      POSTGRES_PASSWORD: idealloesung
      PGDATA: /data/postgres
    ports:
      - 5432:5432
    volumes:
      - "./sql:/docker-entrypoint-initdb.d"
      - postgres:/data/postgres
  redis:
    image: redis:5.0.8
    restart: always
    ports:
      - 6379:6379
  frontend:
    build:
      context: ./packages/frontend
      dockerfile: Dockerfile 
    ports: 
    #      - 3004:443
      - 8080:8080
    volumes:
      # - "./packages/frontend/dist:/app/dist:rw" 
      - "./packages/frontend/static:/app/static:rw"
      - "./packages/frontend/src:/app/src:rw"
      - "./packages/frontend/webpack.config.js:/app/webpack.config.js:ro"
      - "./packages/frontend/tsconfig.json:/app/tsconfig.json:ro"
      - "./packages/frontend/.babelrc:/app/.babelrc:ro"
      - "./packages/frontend/package.json:/app/package.json:ro"
  api:
    build:
      context: ./packages/api
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://user:idealloesung@db:5432/db
    ports:
      - 3001:3001
      - 9229:9229
    volumes:
      - "./packages/api/src:/app/src:rw"
      - "./packages/api/tsconfig.json:/app/tsconfig.json:ro"
      - "./packages/api/package.json:/app/package.json:ro"
      - "./packages/shared-lib:/app/node_modules/shared-lib:ro"
  load-calculations:
    build:
      context: ./packages/load-calculations
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://user:idealloesung@db:5432/db
    ports:
      - 3002:3002
      - 9228:9228
    volumes:
      # - "./packages/load-calculations/lib:/app/lib:rw"
      - "./packages/load-calculations/worker.js:/app/worker.js:rw"
      - "./packages/load-calculations/package.json:/app/package.json:ro"
      - "./packages/shared-lib:/app/node_modules/shared-lib:ro"
  admin-panel:
    build:
      context: ./packages/admin-panel
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://user:idealloesung@db:5432/db
    ports:
      - 3003:3003
      - 9227:9227
    volumes:
      # - "./packages/admin-panel/lib:/app/lib:rw"
      - "./packages/admin-panel/server.js:/app/server.js:rw"
      - "./packages/admin-panel/package.json:/app/package.json:ro"
      - "./packages/shared-lib:/app/node_modules/shared-lib:ro"

volumes:
  postgres:
