@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
  font-family: 'Nunito', sans-serif;

  --background: #219ef1;
}

.ant-btn {
  height: 40px;
  border-radius: 4px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--background);
  height: 64px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header .anticon {
  display: inline;
  font-size: 24px;
  margin-left: 4px;
  color: white;
}

header h1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0px;
  margin-left: 6px;
  color: white;
  display: inline;
}

header .space {
  width: 24px;
}




#signup {
  margin-top: 108px;
  margin-right: 24px;
  margin-left: 24px;
}

#signup .login {
  display: block;
  margin-left: auto;
}

#signup .ext-login {
  display: flex;
  flex-direction: row;

}

#signup .ext-login button {
  width: calc(50% - 8px);
}

#signup .ext-login .google {
  margin-right: 8px;
  color: white;
  background-color: #dd4c37;
}

#signup .ext-login .facebook {
  margin-left: 8px;
  color: white;
  background-color: #3c5899;
}